/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '填写后可以点击昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

.el-input.el-input--small.el-input-group.el-input-group--prepend::before, .el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    z-index: 9999; /* 提高层级，确保内容显示在最前 */
}


.post-count {
    /*font-weight: 500;*/
    /*font-size: 0.8125rem;*/
    scrollbar-width: none;
    color: var(--text-p4);
  }

.totalcount {
    color: var(--text-p4);
  }


/* 设置字体 */
.LXGWMode {
    font-family: 'LXGW WenKai Screen', system-ui, 'Helvetica Neue', sans-serif;  // 使用 LXGW WenKai 字体，并指定后备字体
  }


.custom-button {
    display: inline-block;
    padding: 2px 10px;
    /*margin: 10px;
    background-color: #f2f2f2; /* Light grey background, change as needed */
    font-family: inherit; /* Inherits the font-family from parent container */
    color: #835EEC;
    background-color: #F2EEFD;
    @media (prefers-color-scheme: dark) {
      color: #A28BF2;
      background-color: #282433;
    }
    text-align: center;
    cursor: pointer;
    /*border: 2px solid #ccc; /* Grey border */
    border-radius: 16px; /* Rounded corners */
    transition: all 0.3s ease;
  }

.custom-button:hover {
    background-color: #e9e9e9; /* Slightly darker on hover */
    @media (prefers-color-scheme: dark) {
      background-color: #333; /* Darker background on hover */
    }
    border-color: #999; /* Darker border on hover */
  }

/* toggle-font 提示框的样式 */

.tooltip {
    position: relative;
    cursor: pointer; /* 可选，让用户知道这是一个可以互动的元素 */
}

.tooltip:hover::before {
    white-space: nowrap;
    line-height: 18px;
    content: attr(data-msg);
    position: absolute;
    padding: 0 8px;
    display: block;
    color: #ffffff;
    background: #656565;
    border-radius: 6px;
    font-size: 12px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* 确保提示框在其他元素之上 */
}

.tooltip:hover::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: #656565; /* 简化写法 */
}

/* toggle-font 按钮的样式 */

.widget-wrapper.toggle-font {
    background: none; // Example: making background transparent
    /* Add other styles specific to the toggle-font widget here */
}

#post-meta {
  font-size: 12px; 
  color: var(--text-p4); /* 或 --text-p2，设置为灰色 */
}

/* 设置图标颜色 */
/* 白天模式，默认填充色为黑色 */
.theme-icon {
  fill: black;
}

/* 暗黑模式，填充色为白色 */
@media (prefers-color-scheme: dark) {
  .theme-icon {
      fill: white;
  }
}

/* 文章内链接：链接不使用文本颜色，下划线半透明 */
/*
li:not([class]) a:not([class]),
p:not([class]) a:not([class]),
table a:not([class]) {
  /*color: var(--theme-link);*/
  /*
  padding-bottom: 0.15em; /* 增加底部padding，以适应下划线 */
  /*
  padding-right: 1px;
  margin-right: auto;
  background: linear-gradient(0, var(--theme-link), var(--theme-link)) no-repeat center bottom / 100% 0.1em;
}
/*/


/* 文章内链接：为链接使用荧光笔下划线效果 */
li:not([class]) a:not([class]),
p:not([class]) a:not([class]),
table a:not([class]) {
  padding-bottom: 0.1rem;
  background: linear-gradient(0, var(--theme-link-opaq), var(--theme-link-opaq)) no-repeat center bottom / 100% 40%;
}

/* 选中文本：使用超链接高亮的背景色 */
::selection {
  background: var(--theme-link-opa);
}


/* toc高亮样式 */
.widget-wrapper.toc .toc a.toc-link.active {
  background: var(--block-hover)
}
