/* 默认的浅色模式颜色 */
:root {
    --tag-bg-color: #F2EEFD;
    --tag-text-color: #835EEC;
  }
  
  /* 暗黑模式下的颜色 */
  @media (prefers-color-scheme: dark) {
    :root {
      --tag-bg-color: #282433;
      --tag-text-color: #A28BF2;
    }
  }
  
  /* 按钮的样式 */
#toggleButton {
  font-family: 'IM Fell DW Pica'; 
  background-color: var(--tag-bg-color) !important;
  color: var(--tag-text-color) !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* 平滑过渡色彩变化 */
}